Library/
obj/
build/
Temp/

[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.user
/*.tmp
/*.svd

Assets/Photon Unity Networking/Demos
MMDebug/MMDebug/bin/Debug/MMDebug.dll.mdb
*.zip

FMOD/.*/
FMOD Mage Match Test/.*/
/Assets/FMODStudioCache.asset
/Assets/FMODStudioCache.asset.meta
fmod.log
fmod_editor.log